@{
    ViewData["Title"] = "Home Page";
}
<h2>Opacity with Box</h2>
<p>Hover over the image to see the effect.</p>

<div class="container">
  <img src="~/img/adv.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Shop</div>
  </div><br>
  <!-- <div class="container">
  <img src="~/img/balm2.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Shop</div>
  </div>
  <div class="container">
  <img src="~/img/logo.jpg" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Shop</div>
  </div>
</div> -->
<div class="text-center">
  
</div>
