@{
    Layout = "_Layout";
}
<div>
   @model Amaya.Customers

<h4>Add Address</h4>

    <input id='Id' name='Id' type='hidden' >
    <label for="Name">Treat 1: </label>
    <input id='Name' name='Name' type='text' required>
    <br>
     <label for="Street">Treat 2: </label>
    <input id='Street' name='Street' type='text'>
    <br>
     <label for="City">Treat 3: </label>
    <input id='City' name='City' type='text'>
    <br>
    <label for="State">Treat 4: </label>
    <input id='State' name='State' type='text'>
    <br>
    <label for="Zip">Treat 4: </label>
    <input id='Zip' name='Zip' type='text'>
   
<input type="submit" value="Add info" class="btn btn-primary" />


</div>